body {
  background-color: #E0F2E9;
  color: #A17C6B;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;


}

#container {
  width: 1000px;
  margin: 0 auto;
}

#question{
  border: 10px solid white;
  margin: 80px auto 0;
  padding: 50px;
}


p {
  color: #A17C6B;
  text-align: center;
}

.player-choice {
  position: relative;

}

#choice1 {
  position: absolute;
  left: 0px;
  border: 10px solid white;
  padding: 50px;
  margin: 50px 0 0 0;
}

#choice1:hover, #choice2:hover {
  background-color: #D7E8BA;
}

#choice2{
  position: absolute;
  right: 0px;
  border: 10px solid white;
  padding: 50px;
  margin: 50px 0 0 0;

}

#player-scores {
  position: absolute;
  top: 490px;
  width: 880px;
  margin: 150px auto 0;
  padding: 50px;
  border: 10px solid white;

}

#player-one-score, #player-two-score {
  margin:0 auto;
  text-align: center;
}

/*start animation*/

#winner {
  width: 1000px;
  height: 800px;
  background-color: #2E5077;
  position: absolute;
  top: 50px;
  -webkit-animation-name: winning; /* Chrome, Safari, Opera */
  -webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
  animation-name: winning;
  animation-duration: 2s;
  font-size: 50px;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes winning {
    0%   {background-color:#2E5077; left:460px; top:-500px;}
    100% {background-color:#2E5077; left:460px; top: 50px;}

}

/* Standard syntax */
@keyframes winning {
  0%   {background-color:#2E5077; left:460px; top:-500px;}
  100% {background-color:#2E5077; left:460px; top:50px;}
}

/*end animation*/

/*backup
#winner {
  width: 1000px;
  height: 800px;
  background-color: #2E5077;
  position: absolute;
  top: -600px;
  left: -10px;*/
